.timeframe-tabs {
  background: white;
  justify-content: left !important;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  max-height: 50px;
  margin-bottom: 20px;
}
.timeframe-tabs a {
  text-decoration: none;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  background: #2196f3 !important;
}
