.App {
  padding-left: 80px;
  padding-right: 80px;
}
.Header {
  height: 130px;
  padding-top: 30px;
}

.App-Dashboard {
  text-align: right;
  font-size: 48px;
  font-family: 'Roboto';
  color: #231F20;
  font-weight: lighter;
}
